:root{
    --primary :#5d5f95;
    --lightPrimary:#6769a6;

}

*{
      font-family: "Montserrat", sans-serif;
  
 }

 html,body{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    min-width: 300px;
 }

a{
    text-decoration: none !important; 
}



.nav_item{
    font-weight: bold;
    font-size: 14px;
}
.flex_container{
    display: flex;

}

.divider{
    height: 2px;
    background: #e7e7e7;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.rounded_card{
    padding: 10px;
    background: white;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 5px #e7e7e7;
    margin-left: 15px;
    cursor: pointer;
    width: 30%;
}
.rounded_card:hover{
    background: #e7e7e7;
    
}

.justifier_navbar{
    justify-content: space-between;
}
.navbar{
    background: #ccc;
    padding: 20px;

}

input, textarea{
    border: 1px solid #e7e7e7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 200px

}
.profile_image{
    height: 200px;
    width: 500px;
   border-radius:50%;
   background: url(./../images/study.jpg);
   background-position: center;
   background-size: cover;
}
.primary_button{
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    border: 0px;
    background-color: var(--primary);
    color: #efefef;
    font-weight: bold;
    box-shadow: 5px 5px 5px 5px #d6c3e6;
    transition: all 0.2s;
}

.primary_button:hover{
    padding: 18px;
}

.logo_pri{
    border: 1px dotted;
    padding: 5px;
    font-weight: 13px;
    letter-spacing: 5px;
    background-color: var(--lightPrimary);
    color: white;
    
    
}
.primary_banner{
    background: var(--primary);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact_picture{
    background: red;
    height: 250px;
    width: 250px;
    background: url(./../images/contact.jpeg);
    border-radius: 50%;
    background-position:center ;
    background-size:cover ;
}

.footer{
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}


