:root{
    --primary :#5d5f95;
    --lightPrimary:#6769a6;

}

*{
      font-family: "Montserrat", sans-serif;
  
 }

 html,body{
    padding: 0px;
    margin: 0px;
 }
a{
    text-decoration: none !important; 
}



.nav_item{
    font-weight: bold;
}
.flex_container{
    display: flex;

}

.justifier_navbar{
    justify-content: space-between;
}
.navbar{
    background: #ccc;
    padding: 20px;
}
.profile_image{
    height: 300px;
    width: 300px;
   border-radius:50%;
   background: url(./../images/study.png);
   background-position: center;
   background-size: cover;
}
.primary_button{
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    border: 0px;
    background-color: var(--primary);
    color: #efefef;
    font-weight: bold;
    box-shadow: 5px 5px 5px 5px #d6c3e6;
    transition: all 0.2s;
}

.primary_button:hover{
    padding: 18px;
}

.logo_pri{
    border: 1px dotted;
    padding: 5px;
    font-weight: 13px;
    letter-spacing: 5px;
    background-color: var(--lightPrimary);
    color: white;
    
    
}